@import "../styles/colors.css";

:root {
  --cc-bg: rgba(0, 0, 0, 0.75);
  --noti-border-color: @main-cyan;
  --noti-bg: rgba(0, 0, 0, 0.72);
  --noti-bg-alpha: 0.8;
  --noti-bg-darker: rgba(0, 0, 0, 0.82);
  --noti-bg-hover: @bg-hover;
  --noti-bg-focus: rgba(255, 255, 255, 0.15);
  --noti-close-bg: rgba(255, 255, 255, 0.1);
  --noti-close-bg-hover: rgba(255, 255, 255, 0.2);
  --text-color: @text-main;
  --text-color-disabled: rgba(255, 255, 255, 0.5);
  --bg-selected: @main-cyan;
  --notification-icon-size: 48px;
  --notification-app-icon-size: calc(var(--notification-icon-size) / 3);
  --notification-group-icon-size: 32px;
  --border: 1px solid var(--noti-border-color);
  --border-radius: 6px;
  --notification-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3),
    0 1px 3px 1px rgba(0, 0, 0, 0.7), 0 2px 6px 2px rgba(0, 0, 0, 0.3);
  --font-size-body: 13px;
  --font-size-summary: 14px;
  --hover-transition: background 0.15s ease-in-out;
  --group-collapse-transition: opacity 400ms ease-in-out;
}

* {
  font-family: "JetBrainsMono Nerd Font", "Font Awesome 7 Free", "Font Awesome 7 Brands", sans-serif;
}

notificationwindow, blankwindow {
  background: transparent;
}

.close-button {
  background: transparent;
  color: @text-main;
  text-shadow: none;
  padding: 0;
  margin-top: 4px;
  margin-right: 4px;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  background: transparent;
  transition: var(--hover-transition);
  color: @warning-red;
}

.notification-row {
  background: none;
  outline: none;
}

.notification-row:focus {
  background: var(--noti-bg-focus);
}

.notification-row .notification-background {
  padding: 0;
}

.notification-row .notification-background .notification {
  border-radius: 5px;
  border: 1px solid @main-cyan;
  padding: 0;
  transition: var(--hover-transition);
  background: @bg-main;

}

.notification-row .notification-background .notification.low {
  border-color: @neon-mint;
}

.notification-row .notification-background .notification.normal {
  border-color: @main-cyan;
}

.notification-row .notification-background .notification.critical {
  border: 1px solid @warning-red;
}

.notification-row .notification-background .notification .notification-default-action {
  padding: 4px;
  margin: 0;
  box-shadow: none;
  background: transparent;
  border: none;
  color: var(--text-color);
  transition: var(--hover-transition);
  border-radius: var(--border-radius);
}

.notification-row .notification-background .notification .notification-default-action:hover {
  -gtk-icon-filter: none;
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content {
  background: transparent;
  border-radius: var(--border-radius);
  padding: 0;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .image {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-icon-size);
  border-radius: 100px;
  margin: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .app-icon {
  -gtk-icon-filter: none;
  -gtk-icon-size: var(--notification-app-icon-size);
  -gtk-icon-shadow: 0 1px 4px black;
  margin: 6px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box label {
  filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .summary {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .time {
  font-size: var(--font-size-summary);
  font-weight: bold;
  background: transparent;
  color: @main-cyan;
  text-shadow: none;
  margin-right: 30px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .text-box .body {
  font-size: var(--font-size-body);
  font-weight: normal;
  background: transparent;
  color: var(--text-color);
  text-shadow: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar {
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .body-image {
  margin-top: 4px;
  background-color: white;
  -gtk-icon-filter: none;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply {
  margin-top: 4px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-entry {
  background: var(--noti-bg-darker);
  color: var(--text-color);
  caret-color: var(--text-color);
  border: var(--border);
  border-radius: var(--border-radius);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button {
  margin-left: 4px;
  background: rgba(0, 0, 0, 0.7);
  border: var(--border);
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:disabled {
  background: initial;
  color: var(--text-color-disabled);
  border: var(--border);
  border-color: transparent;
}

.notification-row .notification-background .notification .notification-default-action .notification-content .inline-reply .inline-reply-button:hover {
  background: var(--noti-bg-hover);
}

.notification-row .notification-background .notification .notification-alt-actions {
  background: none;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  padding: 4px;
}

.notification-row .notification-background .notification .notification-action {
  margin: 4px;
  padding: 0;
}

.notification-row .notification-background .notification .notification-action > button {
  border-radius: var(--border-radius);
  color: var(--text-color);
}

.notification-group {
  transition: opacity 200ms ease-in-out;
}

.notification-group:focus {
  background: var(--noti-bg-focus);
}

.notification-group.low {
  border-color: @neon-mint;
}

.notification-group.normal {
  border-color: @main-cyan;
}

.notification-group.critical {
  border-color: @warning-red;
}

.notification-group .notification-group-close-button .close-button {
  margin: 12px 20px;
}

.notification-group .notification-group-buttons,
.notification-group .notification-group-headers {
  margin: 0 16px;
  color: var(--text-color);
}

.notification-group .notification-group-headers .notification-group-icon {
  color: var(--text-color);
  -gtk-icon-size: var(--notification-group-icon-size);
}

.notification-group .notification-group-headers .notification-group-header {
  color: var(--text-color);
}

.notification-group .notification-group-buttons {
}

.notification-group.collapsed.not-expanded {
  opacity: 1;
}

.notification-group.collapsed .notification-row .notification {
  background-color: var(--noti-bg);
}

.notification-group.collapsed .notification-row:not(:last-child) .notification-action,
.notification-group.collapsed .notification-row:not(:last-child) .notification-default-action {
  opacity: 0;
}

.notification-group.collapsed:hover .notification-row:not(:only-child) .notification {
  background-color: var(--noti-bg-hover);
}

.control-center {
  background: @bg-main;
  color: var(--text-color);
  border-radius: var(--border-radius);
  border: 1px solid @main-cyan;

}

.control-center .control-center-list-placeholder {
  opacity: 0.5;
}

.control-center .control-center-list {
  background: transparent;
}

.control-center .control-center-list .notification {
  box-shadow: var(--notification-shadow);

  margin-bottom: 8px;
}

.control-center .control-center-list .notification .notification-default-action,
.control-center .control-center-list .notification .notification-action {
  transition: var(--group-collapse-transition), var(--hover-transition);
}

.control-center .control-center-list .notification .notification-default-action:hover,
.control-center .control-center-list .notification .notification-action:hover {
  background-color: var(--noti-bg-hover);
}

.blank-window {
  background: transparent;
}

.floating-notifications {
  background: transparent;
}

.floating-notifications .notification {
  box-shadow: none;
  border: 1px solid @main-cyan;
  background: @bg-main;
  border-radius: 6px;

  margin-bottom: 8px;
}

/*** Widgets ***/
.widget {
  margin: 8px;
  padding: 8px;
  border-radius: var(--border-radius);
  background: @bg-main;
  border: 1px solid @main-cyan;

}

.widget-title > label {
  margin-right: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  color: @main-cyan;
}

.widget-title > button {
  margin-left: 8px;
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--text-color);
  border: 1px solid @main-cyan;
}

.widget-title > button:hover {
  background: var(--noti-bg-hover);
}

/* DND widget */
.widget-dnd label {
  color: var(--text-color);
  margin-right: 8px;
  font-size: 1.1rem;
}

.widget-dnd switch {
  border-radius: var(--border-radius);
  margin-left: 8px;
}

.widget-dnd switch slider {
  border-radius: var(--border-radius);
}

/* Label widget */
.widget-label > label {
  font-size: 1.1rem;
  color: var(--text-color);
}

/* Mpris widget */
:root {
  --mpris-album-art-overlay: rgba(0, 0, 0, 0.55);
  --mpris-button-hover: rgba(255, 255, 255, 0.1);
  --mpris-album-art-icon-size: 96px;
  --mpris-album-art-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.widget-mpris {
  padding: 0;
}

.widget-mpris .widget-mpris-player {
  margin: 16px 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--mpris-album-art-shadow);
  background: @bg-main;
  border: 1px solid @main-cyan;

}

.widget-mpris .widget-mpris-player .mpris-background {
  filter: blur(10px);
}

.widget-mpris .widget-mpris-player .mpris-overlay {
  padding: 16px;
  background-color: var(--mpris-album-art-overlay);
}

.widget-mpris .widget-mpris-player .mpris-overlay button:hover {
  background: var(--noti-bg-hover);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-album-art {
  border-radius: var(--border-radius);
  box-shadow: var(--mpris-album-art-shadow);
  -gtk-icon-size: var(--mpris-album-art-icon-size);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
  color: var(--text-color);
}

.widget-mpris .widget-mpris-player .mpris-overlay .widget-mpris-subtitle {
  font-size: 1.1rem;
  color: var(--text-color-disabled);
}

.widget-mpris .widget-mpris-player .mpris-overlay > box > button:hover {
  background-color: var(--mpris-button-hover);
}

.widget-mpris > box > button {
}

.widget-mpris > box > button:disabled {
}

/* Buttons widget */
.widget-buttons-grid flowboxchild > button {
  border-radius: var(--border-radius);
  border: 1px solid @main-cyan;
  background: @bg-main;
  color: var(--text-color);
}

.widget-buttons-grid flowboxchild > button:hover {
  background: var(--noti-bg-hover);
}

.widget-buttons-grid flowboxchild > button.toggle:checked {
  background: @main-cyan;
  color: #000000;
}

/* Volume widget */
:root {
  --widget-volume-row-icon-size: 24px;
}

.widget-volume row image {
  -gtk-icon-size: var(--widget-volume-row-icon-size);
}

.per-app-volume {
  background-color: @bg-main;
  margin: 8px;
  margin-bottom: 0;
  border-radius: var(--border-radius);
  border: 1px solid @main-cyan;

}

/* Slider widget */
.widget-slider label {
  font-size: inherit;
  color: var(--text-color);
}

/* Inhibitors widget */
.widget-inhibitors > label {
  margin-right: 8px;
  font-size: 1.3rem;
  font-weight: bold;
  color: @main-cyan;
}

.widget-inhibitors > button {
  margin-left: 8px;
  border-radius: var(--border-radius);
  background: transparent;
  color: var(--text-color);
  border: 1px solid @main-cyan;
}

.widget-inhibitors > button:hover {
  background: var(--noti-bg-hover);
}

.floating-notifications {
  margin-right: 5px;
  margin-top: 5px;
}

/* Tooltip styling */
tooltip {
  background: @bg-main;
  border: 1px solid @main-cyan;
  border-radius: 6px;
  color: var(--text-color);
}